<<<<<<< HEAD
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.category-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.product-list {
    display: flex;
    gap: 10px;

}
.product-item {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 8px;

}
.product-img {
    width: 200px;
    height: 200px;
}
.product-brand {
    margin-top: 10px;
    font-size: 14px;
}
.product-name {
    margin-top: 3px;
    font-size: 13px;
}
.product-price {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn {
    margin-top: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background-color: rgb(19, 110, 214);
    color: white;
    cursor: pointer;
}

footer {
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 8px;
=======
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid lightgray;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.category-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.product-list {
    display: flex;
    gap: 10px;

}
.product-item {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 8px;

}
.product-img {
    width: 200px;
    height: 200px;
}
.product-brand {
    margin-top: 10px;
    font-size: 14px;
}
.product-name {
    margin-top: 3px;
    font-size: 13px;
}
.product-price {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn {
    margin-top: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background-color: rgb(19, 110, 214);
    color: white;
    cursor: pointer;
}

footer {
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 8px;
>>>>>>> eec5dd2 (변경사항)
}