.productDetail {
    display: flex;
}
.productInfo {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 400px;
}
.productDetail img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
}
.productCategory {
    color: lightgray;
    font-size: 15px;
    padding-top: 8px;
}
.productInfo h2 {
    font-size: 25px;
}
.productPrice {
    font-size: 20px;
    font-weight: bold;
}
.productInfo button {
    background-color: rgb(0, 0, 105);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: auto;
    cursor: pointer;
}
.productDocs {
    padding: 20px;
    font-size: 16px;
    line-height: 28px;
    color: gray;
}

.item {
    padding: 12px;
    border-bottom: 1px solid rgb(175, 175, 175);

}
.review {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: gray;
}
.rating {
    color: rgb(49, 139, 255);
}
.reviewtext {
    margin-top: 8px;
    font-size: 16px;
}
.reviewZero {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}