.header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.logo {
    color: rgb(83, 83, 83);
    font-size: 25px;
    font-weight: 850;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}