.categoryList {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
    font-size: 15px;
}
.categoryList li {
    color: rgb(184, 184, 184);
    cursor: pointer;
}
.categoryList li.selected {
    font-weight: bold;
    color: black;
}
.productListItem{
    width: 220px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.productListItem img{
    width: 220px;
    height: 200px;
}
.productInfo {
    padding: 12px;
}
.productCategory {
    font-size: 12px;
    color: #7f8c8d;
}
.productName {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
}
.productPrice {
    font-weight: 700;
    font-size: 18px;
}
.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}