.card {
    width: 260px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}
.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    /* 여러 줄을 제한하기 위한 특수한 레이아웃 */
    display: -webkit-box;
    /* 몇 줄까지 보여줄지 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pic {
    border: 1px solid gray;
    background-color: gray;
    width: 100%;
    height: 200px;
}